<!-- Primary Page Layout
	================================================== -->

<!-- BEGIN WRAPPER -->
<div id="wrapper">
    <!-- BEGIN HEADER -->
    @{Html.RenderPartial("_Layout_Header"); }
    <!-- END HEADER -->
    <!-- BEGIN PAGE HEADING -->
    <section id="heading">
        <div class="container">
            <div class="grid_8">
                <!-- BEGIN PAGE HEADING -->
                <header class="page-heading">
                    <h1>videos</h1>
                    <nav class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><a href="#">gallery</a></li>
                            <li class="current">videos</li>
                        </ul>
                    </nav>
                </header>
                <!-- END PAGE HEADING -->
            </div>
        </div>
    </section>
    <!-- END PAGE HEADING -->
    <!-- BEGIN CONTENT HOLDER -->
    <div id="content-wrapper">

        <section class="indent">

            <div class="container">

                <!-- BEGIN GALLERY 3 COLS -->
                <ul class="gallery cols3 clearfix">

                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img1.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img1.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img2.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img2.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img3.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img3.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>

                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img4.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img4.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img5.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img5.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img6.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img6.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>

                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img7.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img7.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img8.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img8.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img9.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img9.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>

                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img10.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img10.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img11.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img11.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img12.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img12.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>

                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img13.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img13.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img14.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img14.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img15.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img15.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>

                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img16.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img16.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img17.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img17.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img18.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img18.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>

                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img19.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img19.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img20.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img20.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>
                    <li class="grid_4">
                        <figure class="thumb-holder">
                            <a href="images/gallery/3cols/gallery-img21.jpg" rel="prettyPhoto[gallery]" title="Mauris ut velit non dolor">
                                <img src="images/gallery/3cols/gallery-img21.jpg" alt="" width="456" height="302" border="0" />
                                <span class="zoom-overlay"><i class="magnify"></i></span>
                            </a>
                        </figure>
                        <div class="desc">
                            <h4><a href="#">Mauris ut velit non dolor</a></h4>
                            <span class="category">Category</span>
                        </div>
                    </li>

                </ul>
                <!-- END GALLERY 3 COLS -->

                <!-- BEGIN PAGINATION -->
                <ul class="pagination">
                    <li class="prev"><a href="#">&larr;</a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="next"><a href="#">&rarr;</a></li>
                </ul>
                <!-- END PAGINATION -->

            </div>

        </section>

    </div>
    <!-- END CONTENT HOLDER -->





    <!-- BEGIN FOOTER -->
    @{Html.RenderPartial("_Layout_Footer");}
    <!-- END FOOTER -->


</div>
<!-- END WRAPPER -->
