<!-- Primary Page Layout
	================================================== -->
	
	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
			
			
			<!-- BEGIN HEADER -->
            @{Html.RenderPartial("_Layout_Header"); }
			<!-- END HEADER -->
			
			
			
			<!-- BEGIN PAGE HEADING -->
			<section id="heading">
				
				<div class="container">
						
					<div class="grid_8">
						<!-- BEGIN PAGE HEADING -->
						<header class="page-heading">
							<h1>our team</h1>
							<nav class="breadcrumbs">
								<ul>
									<li><a href="Home">home</a></li>
									<li class="current">about us</li>
								</ul>
							</nav>
						</header>
						<!-- END PAGE HEADING -->
					</div>
					
			
						
				</div>
				
			</section>
			<!-- END PAGE HEADING -->
			
			
			
			<!-- BEGIN CONTENT HOLDER -->
			<div id="content-wrapper">
				
				<section class="indent">
					
					<div class="container">
						
						<div class="grid_12">
							
							<h2>Lorem ipsum dolor sit amet, consectetur. </h2>
							<p><strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. Fusce et elit orci. Vivamus quis molestie lectus. Sed volutpat nunc vel est dictum sit amet placerat orci convallis. Nunc convallis varius pretium. Quisque at lorem ut tortor feugiat egestas id vel justo. Nunc facilisis risus mi, mollis tincidunt lacus. Quisque dolor metus, imperdiet vitae consectetur sed, tempor sit amet purus. Nunc dignissim sapien pulvinar neque semper non iaculis turpis facilisis. Donec et ipsum dui. Nunc vel tellus in tellus dignissim gravida sit amet eget turpis.</p>
							
							
							<!-- BEGIN TEAM POST LIST -->
							<div class="team-post-list">
							
								<!-- BEGIN TEAM POST -->
								<article class="team-post">
									<!-- begin post image -->
									<figure class="featured-thumbnail">
										<a href="#"><img src="images/team-img1.jpg" alt="" width="286" height="286" border="0" /></a>
									</figure>
									<!-- end post image -->
									
									<div class="team-post-holder">
										
										<!-- begin post heading -->
										<header class="entry-header">
											<hgroup>
												<h3 class="entry-title">ADAM SCOT</h3>
												<h6>CEO</h6>
											</hgroup>
											<blockquote class="right">Cras vulputate gravida pellen- tesque. Mauris ultricies metus id sapien porta vulputate. Cras feugiat nunc id mi cond mattis.</blockquote>
										</header>
										<!-- end post heading -->
										
										<!-- begin post content -->
										<div class="entry-content">
											<p><strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. Fusce et elit orci. Vivamus quis molestie lectus. Sed volutpat nunc vel est dictum sit amet placerat orci convallis. Nunc convallis varius pretium. <em>Quisque at lorem ut tortor feugiat egestas id vel justo</em>. Nunc facilisis risus mi, mollis tincidunt lacus. Quisque dolor metus, imperdiet vitae consectetur sed, tempor sit amet purus. Nunc dignissim sapien pulvinar neque semper non iaculis turpis facilisis. Donec et ipsum dui. Nunc vel tellus in tellus dignissim gravida sit amet eget turpis.  </p>
										</div>
										<!-- end post heading -->
										
									</div>
								</article>
								<!-- END TEAM POST -->
								
								<!-- BEGIN TEAM POST -->
								<article class="team-post">
									<!-- begin post image -->
									<figure class="featured-thumbnail">
										<a href="#"><img src="images/team-img2.jpg" alt="" width="286" height="286" border="0" /></a>
									</figure>
									<!-- end post image -->
									
									<div class="team-post-holder">
										
										<!-- begin post heading -->
										<header class="entry-header">
											<hgroup>
												<h3 class="entry-title">ROBERT RIDDLEY</h3>
												<h6>CTO</h6>
											</hgroup>
											<blockquote class="right">Cras vulputate gravida pellen- tesque. Mauris ultricies metus id sapien porta vulputate. Cras feugiat nunc id mi cond mattis.</blockquote>
										</header>
										<!-- end post heading -->
										
										<!-- begin post content -->
										<div class="entry-content">
											<p><strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. Fusce et elit orci. Vivamus quis molestie lectus. Sed volutpat nunc vel est dictum sit amet placerat orci convallis. Nunc convallis varius pretium. <em>Quisque at lorem ut tortor feugiat egestas id vel justo</em>. Nunc facilisis risus mi, mollis tincidunt lacus. Quisque dolor metus, imperdiet vitae consectetur sed, tempor sit amet purus. Nunc dignissim sapien pulvinar neque semper non iaculis turpis facilisis. Donec et ipsum dui. Nunc vel tellus in tellus dignissim gravida sit amet eget turpis.  </p>
										</div>
										<!-- end post heading -->
										
									</div>
								</article>
								<!-- END TEAM POST -->
								
								<!-- BEGIN TEAM POST -->
								<article class="team-post">
									<!-- begin post image -->
									<figure class="featured-thumbnail">
										<a href="#"><img src="images/team-img3.jpg" alt="" width="286" height="286" border="0" /></a>
									</figure>
									<!-- end post image -->
									
									<div class="team-post-holder">
										
										<!-- begin post heading -->
										<header class="entry-header">
											<hgroup>
												<h3 class="entry-title">MONICA SPENCER</h3>
												<h6>HR Manager</h6>
											</hgroup>
											<blockquote class="right">Cras vulputate gravida pellen- tesque. Mauris ultricies metus id sapien porta vulputate. Cras feugiat nunc id mi cond mattis.</blockquote>
										</header>
										<!-- end post heading -->
										
										<!-- begin post content -->
										<div class="entry-content">
											<p><strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. Fusce et elit orci. Vivamus quis molestie lectus. Sed volutpat nunc vel est dictum sit amet placerat orci convallis. Nunc convallis varius pretium. <em>Quisque at lorem ut tortor feugiat egestas id vel justo</em>. Nunc facilisis risus mi, mollis tincidunt lacus. Quisque dolor metus, imperdiet vitae consectetur sed, tempor sit amet purus. Nunc dignissim sapien pulvinar neque semper non iaculis turpis facilisis. Donec et ipsum dui. Nunc vel tellus in tellus dignissim gravida sit amet eget turpis.  </p>
										</div>
										<!-- end post heading -->
										
									</div>
								</article>
								<!-- END TEAM POST -->
								
								<!-- BEGIN TEAM POST -->
								<article class="team-post">
									<!-- begin post image -->
									<figure class="featured-thumbnail">
										<a href="#"><img src="images/team-img4.jpg" alt="" width="286" height="286" border="0" /></a>
									</figure>
									<!-- end post image -->
									
									<div class="team-post-holder">
										
										<!-- begin post heading -->
										<header class="entry-header">
											<hgroup>
												<h3 class="entry-title">STEVEN JONES</h3>
												<h6>Marketing Manager</h6>
											</hgroup>
											<blockquote class="right">Cras vulputate gravida pellen- tesque. Mauris ultricies metus id sapien porta vulputate. Cras feugiat nunc id mi cond mattis.</blockquote>
										</header>
										<!-- end post heading -->
										
										<!-- begin post content -->
										<div class="entry-content">
											<p><strong>Lorem ipsum dolor</strong> sit amet, consectetur adipiscing elit. Fusce et elit orci. Vivamus quis molestie lectus. Sed volutpat nunc vel est dictum sit amet placerat orci convallis. Nunc convallis varius pretium. <em>Quisque at lorem ut tortor feugiat egestas id vel justo</em>. Nunc facilisis risus mi, mollis tincidunt lacus. Quisque dolor metus, imperdiet vitae consectetur sed, tempor sit amet purus. Nunc dignissim sapien pulvinar neque semper non iaculis turpis facilisis. Donec et ipsum dui. Nunc vel tellus in tellus dignissim gravida sit amet eget turpis.  </p>
										</div>
										<!-- end post heading -->
										
									</div>
								</article>
								<!-- END TEAM POST -->
							
							</div>
							<!-- END TEAM POST LIST -->
							
						</div>
						
					</div>
					
				</section>
				
			</div>
			<!-- END CONTENT HOLDER -->
			
			
			<!-- BEGIN FOOTER -->
			@{Html.RenderPartial("_Layout_Footer");}
			<!-- END FOOTER -->	
		
	</div>
	<!-- END WRAPPER -->

	