@model CloudClaims.ViewModels.SignIn
@{
    ViewBag.Title = "CloudClaims Portal Login";
}
<div class="hidden-wrapper" style="display: none; margin-left: auto; margin-right: auto; text-align: center;">
    <!-- Top fixed navigation -->
    <div class="topNav">
        <div class="wrapper">
            <div class="userNav">
                <ul>
                    <li><a href="http://www.cloudclaims.net" title="">
                        <img src="~/Content/crwn/images/icons/topnav/mainWebsite.png" alt="" /><span>cloudclaims.net</span></a></li>
                    <li><a href="#" title="">
                        <img src="~/Content/crwn/images/icons/topnav/profile.png" alt="" /><span>tech support</span></a></li>
                    <li><a href="#" title="">
                        <img src="~/Content/crwn/images/icons/topnav/messages.png" alt="" /><span>chat now</span></a></li>
                    <li><a href="login.html" title="">
                        <img src="~/Content/crwn/images/icons/topnav/settings.png" alt="" /><span>settings</span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- Main content wrapper -->
    <div class="loginWrapper">
        <div class="loginLogo">
            <img src="~/Images/cloud-claims-logo.png" alt="" />
        </div>
        <div class="widget">
            <div class="title">
                <img src="~/Content/crwn/images/icons/dark/files.png" alt="" class="titleIcon"  />
                <h6>client login</h6>
            </div>
            @using (Html.BeginForm("DoLogin", "Login", FormMethod.Post, new { @id = "validate", @class = "form" })) {
                <fieldset>
                    <div class="formRow">
                        <label for="login"><b>username:</b></label>
                        <div class="loginInput">
                            @Html.TextBoxFor(model => model.username, new { @autofocus = "autofocus", @maxlength="100" })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="formRow">
                        <label for="pass"><b>password:</b></label>
                        <div class="loginInput">
                            @Html.PasswordFor(model => model.password, new { @maxlength="100" })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="loginControl">
                        @*<div class="rememberMe">
                            <input type="checkbox" id="remMe" name="remMe" /><label for="remMe">remember me</label>
                        </div>*@
                        <input type="submit" value="sign in" class="greenB logMeIn" />
                        <div class="clear"></div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
    <!-- Footer line -->
    <div id="footer">
        <div class="wrapper">[Copyright 2013 cloudclaims.net - all rights reserved]</div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.hidden-wrapper').show({
            effect: 'fade',
            //easing: 'easeInBounce',
            duration: 2200
            //direction: 'right'
        });

       
    });
</script>
