	<!-- Primary Page Layout
	================================================== -->
	
	<!-- BEGIN WRAPPER -->
	<div id="wrapper">
			<!-- BEGIN HEADER -->
			@{Html.RenderPartial("_Layout_Header"); }
			<!-- END HEADER -->
			<!-- BEGIN PAGE HEADING -->
			<section id="heading">
				<div class="container">
					<div class="grid_8">
						<!-- BEGIN PAGE HEADING -->
						<header class="page-heading">
							<h1>Pricing</h1>
							<nav class="breadcrumbs">
								<ul>
									<li><a href="index.html">home</a></li>
									<li><a href="#">features</a></li>
									<li class="current">pricing</li>
								</ul>
							</nav>
						</header>
						<!-- END PAGE HEADING -->
					</div>
				</div>
			</section>
			<!-- END PAGE HEADING -->
			<!-- BEGIN CONTENT HOLDER -->
			<div id="content-wrapper">
				<section class="indent">
					<div class="container">
						<div class="grid_12">
							<h2>Is CloudClaims.Net really FREE?</h2>
							<p>
                                <strong>YES - for our first 50 early-adopters. Independent adjusters/contractors also qualify.</strong> 
                                Beyond that, we have two affordable plan offerings. Free trials for the STANDARD and PLATINUM tiers are available upon request via direct communication. Lets get in touch!
							</p><br/><br/>
							
							<!-- BEGIN PRICING TABLES (3 COLUMNS)-->
							<section class="pricing-tables three-cols clearfix">
								
								<div class="pricing-column">
									<div class="single-pricing-table">
										<header class="pr-head">
											<div class="circle-line"></div>
											<div class="circle-bg"></div>
											<h3 class="price">$ 0<sup>00</sup></h3>
											<h4>free - 50 remaining</h4>
										</header>
										<div class="pr-features">
											<ul>
												<li>We import your claims/data from an existing CMS</li>
												<li>10 GB cloud storage space</li>
												<li>Unlimited users</li>
												<li>Unlimited claims</li>
												<li>Access claims via mobile/tablet on the field</li>
											</ul>
										</div>
										<footer class="pr-foot">
											<a href="#" class="pill pill-style9 signin" data-reveal-id="signup"><span class="pill-inner">SIGN UP</span></a>
										</footer>
									</div>
								</div>
								
								<div class="pricing-column">
									<div class="single-pricing-table">
										<header class="pr-head">
											<div class="circle-line"></div>
											<div class="circle-bg"></div>
											<h3 class="price">$ 9<sup>99</sup>/mo.</h3>
											<h4>standard</h4>
										</header>
										<div class="pr-features">
											<ul>
												<li>Includes all FREE tier features</li>
												<li>Predictive real-time data entry</li>
												<li>Shared calendar</li>
												<li>Automatic email reminders</li>
												<li>Customizable dashboard</li>
											</ul>
										</div>
										<footer class="pr-foot">
											<a href="Contact" class="pill pill-style9"><span class="pill-inner">purchase</span></a>
										</footer>
									</div>
								</div>
								
								<div class="pricing-column">
									<div class="single-pricing-table">
										<header class="pr-head">
											<div class="circle-line"></div>
											<div class="circle-bg"></div>
											<h3 class="price">$ 19<sup>99</sup>/mo.</h3>
											<h4>platinum</h4>
										</header>
										<div class="pr-features">
											<ul>
												<li>Includes all FREE + STANDARD tier features</li>
												<li>Dedicated prime tier servers</li>
												<li>Auto-generate custom forms</li>
												<li>60 hours of custom development</li>
												<li>Affiliate program eligibility</li>
											</ul>
										</div>
										<footer class="pr-foot">
											<a href="Contact" class="pill pill-style9"><span class="pill-inner">purchase</span></a>
										</footer>
									</div>
								</div>
								
							</section>
							<!-- END PRICING TABLES (3 COLUMNS) -->
							
						
							<p>
                                We are confident in our product offering - no long-term contracts, cancel anytime should you choose to and we 
                                will work with your future Claims Management solution to export your claim data for a smooth transition. Our goal is to build long-term relationships with our clients. 
                                While we also offer an API your future Claims Management solution can use to import your claim data from CloudClaims.net, our hope is that you will stay with us!
							</p>
							
					
						</div>
						
					</div>
					
				</section>
				
			</div>
			<!-- END CONTENT HOLDER -->
			
			
	
			
			<!-- BEGIN FOOTER -->
			@{Html.RenderPartial("_Layout_Footer");}
			<!-- END FOOTER -->
			
		
	</div>
	<!-- END WRAPPER -->
	