<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Apple iOS and Android stuff (do not remove) -->
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />

    <!-- Required Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/fonts/ptsans/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/fluid.css" media="screen" />

    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/core/form.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/core/login.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/core/button.css" media="screen" />


    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/mws.style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/icons/16x16.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/icons/24x24.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/icons/32x32.css" media="screen" />

    <!-- Demo and Plugin Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/demo.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/colorpicker/colorpicker.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/imgareaselect/css/imgareaselect-default.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/fullcalendar/fullcalendar.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/fullcalendar/fullcalendar.print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/chosen/chosen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/prettyphoto/css/prettyPhoto.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/tipsy/tipsy.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/sourcerer/Sourcerer-1.2.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/jgrowl/jquery.jgrowl.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/mws/plugins/spinner/ui.spinner.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/mws-jui/css/jquery.ui.all.css" media="screen" />

    <link rel="stylesheet" type="text/css" href="~/Content/mws/css/mws.theme.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" media="screen" />

    <!-- JavaScript Plugins -->
    <script type="text/javascript" src="~/Scripts/mws-js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/mws-js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/Scripts/mws-js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/mws-js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="~/Scripts/mws-js/jquery.fileinput.js"></script>


    <!-- jQuery-UI Dependent Scripts -->
    <script type="text/javascript" src="~/Scripts/mws-jui/js/jquery-ui-effecs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/mws-jui/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/Scripts/mws-jui/js/jquery.ui.timepicker.js"></script>
    <script type="text/javascript" src="~/Scripts/mws-jui/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/spinner/ui.spinner.min.js"></script>

    <!-- Plugin Scripts -->
    <script type="text/javascript" src="~/Content/mws/plugins/validate/jquery.validate-min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/imgareaselect/jquery.imgareaselect.min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/duallistbox/jquery.dualListBox-1.3.min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/jgrowl/jquery.jgrowl-min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/prettyphoto/js/jquery.prettyPhoto.min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/colorpicker/colorpicker-min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/tipsy/jquery.tipsy-min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/sourcerer/Sourcerer-1.2-min.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/smartwizard/js/jquery.smartWizard-2.0.js"></script>
    <script type="text/javascript" src="~/Content/mws/plugins/validate/jquery.validate-min.js"></script>



    <!-- Login Script -->
    <script type="text/javascript" src="~/Scripts/mws-js/core/login.js"></script>
    <!-- Core Script -->
    <script type="text/javascript" src="~/Scripts/mws-js/core/mws.js"></script>

    <!-- Themer Script (Remove if not needed) -->
    <script type="text/javascript" src="~/Scripts/mws-js/core/themer.js"></script>


    <!-- Demo Scripts (remove if not needed) -->
    <script type="text/javascript" src="~/Scripts/mws-js/demo/demo.js"></script>
    


    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

</head>

<body>


    @RenderBody()

    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)*@
<script type="text/javascript">
    $(function () {
        //$('.hidden-wrapper').show({
        //    effect: 'slide',
        //    //easing: 'easeInBounce',
        //    duration: 1500,
        //    direction: 'right'
        //});
    });
</script>
</body>
</html>
