<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        
            
            <!-- Main Navigation -->
         
              <div id="mws-navigation">
            	<ul>
                	<li id="Dashboard" class=""><a href="~/Home/AdminDashboard" class="mws-i-24 i-home">Dashboard</a></li>
                    <li id="Tickets" class=""><a href="~/Tickets/Index" class="mws-i-24 i-single-document">Tickets</a></li>
                	<li id="Clients">
                        <a href="#" class="mws-i-24 i-personal-folder-user-folder">Clients</a>
                        <ul class="closed">
                        	<li><a href="~/Home/AddClient">Add Client</a></li>
                        	<li><a href="~/Home/ViewClients">View Clients</a></li>
                        </ul>
                	</li>
                    <li id="Revenues"><a href="~/Revenues/Index" class="mws-i-24 i-money-2">Revenues</a></li>
                    <li id="BusinessTypes"><a href="~/Home/BusinessTypes" class="mws-i-24 i-dropbox">Business Types</a></li>
                    <li id="CloudSetup"><a href="~/Cloud/Setup" class="mws-i-24 i-cloud-upload">Cloud Setup</a></li>
                    <li id="Configuration"><a href="~/Configuration/Index" class="mws-i-24 i-settings">Configuration</a></li>
                </ul>
            </div>            
        </div>