<!-- Header -->
<div id="mws-header" class="clearfix">

    <!-- Logo Container -->
    <div id="mws-logo-container">

        <!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
        <div id="mws-logo-wrap">
            @*<img src="images/mws-logo.png" alt="mws admin" />*@
            <img src="~/Images/cloud-claims-logo.png" class="center" />
        </div>
    </div>

    <!-- User Tools (notifications, logout, profile, change password) -->
    <div id="mws-user-tools" class="clearfix">
        <!-- Notifications -->
        <div id="mws-user-notif" class="mws-dropdown-menu">
            <a href="#" class="mws-i-24 i-alert-2 mws-dropdown-trigger">Notifications</a>

            <!-- Unred messages count -->
            <span class="mws-dropdown-notif">4</span>

            <!-- Messages dropdown -->
            <div class="mws-dropdown-box">
                <div class="mws-dropdown-content">
                    <ul class="mws-messages">
                        <li class="unread">
                            <a href="#">
                                <span class="sender">Dean Varillas</span>
                                <span class="message">New Client - Pasadena Adjusing Inc.
                                </span>
                                <span class="time">January 29, 2012
                                </span>
                            </a>
                        </li>
                        <li class="unread">
                            <a href="#">
                                <span class="sender">Dean Varillas</span>
                                <span class="message">Need to get back ASAP
                                </span>
                                <span class="time">January 26, 2012
                                </span>
                            </a>
                        </li>
                        <li class="read">
                            <a href="#">
                                <span class="sender">David Reid</span>
                                <span class="message">Please see Ticket#236733
                                </span>
                                <span class="time">January 26, 2012
                                </span>
                            </a>
                        </li>
                        <li class="unread">
                            <a href="#">
                                <span class="sender">Eileen Dermody</span>
                                <span class="message">Please assist with ticket
                                </span>
                                <span class="time">January 24, 2012
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="mws-dropdown-viewall">
                        <a href="#">View All Messages</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Information and functions section -->
        <div id="mws-user-info" class="mws-inset">

            <!-- User Photo -->
            <div id="mws-user-photo">
                <img src="~/Content/mws/example/profile.jpg" alt="User Photo" />
            </div>

            <!-- Username and Functions -->
            <div id="mws-user-functions">
                <div id="mws-username">
                    Hello, Ashish Anand
                </div>
                <ul>
                    <li><a href="#">Profile</a></li>
                    | 
                        <li><a href="#">Password</a></li>
                    | 
                        <li><a href="index.html">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
