<div id="signup" class="reveal-modal">
    <header class="reveal-modal-header">
        FREE Sign up
    </header>
    <div class="cont">
        <form action="#" class="signup">
            <p class="clearfix">
                <em>(<abbr>*</abbr>) All fields are required</em>
            </p>
            <p class="clearfix">
                <label>Full name:<abbr>*</abbr></label>
                <input type="text" value="" />
            </p>
            <p class="clearfix">
                <label>Email:<abbr>*</abbr></label>
                <input type="text" value="" />
            </p>
            <p class="clearfix">
                <label>Password:<abbr>*</abbr></label>
                <input type="text" value="" />
            </p>
            <p class="clearfix">
                <label>Password (repeat):<abbr>*</abbr></label>
                <input type="text" value="" />
            </p>
            <!--<p class="clearfix">
                <label>User verification:<abbr>*</abbr></label>
                <span class="captcha">
                    <img src="images/captcha.png" alt="" />
                </span>
            </p>-->
            <p class="checkboxes clearfix">
                <span class="niceCheck">
                    <input type="checkbox" name="ch1" /></span>
                I agree with the CloudClaims.Net Terms &amp; Conditions and acknowledge that I have gone through the CloudClaims.Net Privacy Policy
            </p>
            <p class="without-label clearfix">
                <input type="submit" value="" /></p>
        </form>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>