@{ViewBag.Title = "Calendar";}
<!-- Main content wrapper -->
<div class="wrapper hidden-wrapperX">
    <!-- Events calendar -->
    <div class="widget">
        <div class="title">
            <img src="~/Content/crwn/images/icons/dark/monthCalendar.png" alt="" class="titleIcon" /><h6>Events</h6>
        </div>
        <div class="calendar"></div>
    </div>

</div>
