
                        <fieldset>
                            <legend>CCClient</legend>
                            <div class="editor-label">

                            </div>
                            <div class="editor-field">
                            </div>
                            <div class="editor-label">
                                
                            </div>
                            <div class="editor-field">
                                
                            </div>

                            <div class="editor-label">
                                
                            </div>
                            <div class="editor-field">
                                
                                
                            </div>

                            <div class="editor-label">
                                
                            </div>
                            <div class="editor-field">
                                
                            </div>

                            <div class="editor-label">
                                
                            </div>
                            <div class="editor-field">
                                
                            </div>

                            

                            <div class="editor-label">
                                @Html.LabelFor(model => model.clientGroup)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.clientGroup)
                                @Html.ValidationMessageFor(model => model.clientGroup)
                            </div>

                            <p>
                                <input type="submit" value="Create" />
                            </p>
                        </fieldset>
                    }