<!-- Primary Page Layout
	================================================== -->

<!-- BEGIN WRAPPER -->
<div id="wrapper">
     @{Html.RenderPartial("_Layout_Header"); }
    <!-- BEGIN SLIDER -->
    <section id="slider" class="loading">
        <div class="container">
            <div class="grid_12">

                <div class="flexslider">
                    <ul class="slides">
                        <!-- Begin Single Slide -->
                        <li>
                            <img src="images/sample/slide1.png" />
                            <div class="slide-caption">
                                <h2>MOBILE READY</h2>
                                <p>Whether you're out on the field or in the office, cloudclaims.net is always around..</p>
                                <!-- .btn -->
                                <a href="DemoVideo" class="btn large">
                                    <span class="btn-inner">play video<em>2 minute demo</em><i class="marker"></i></span>
                                </a>
                                <!-- //.btn -->
                            </div>
                        </li>
                        <!-- End Single Slide -->
                        <li>
                            <img src="images/sample/slide2.png" />
                            <div class="slide-caption">
                                <h2>cloud computing</h2>
                                <p>Leveraging the power of the cloud, we offer 99.9% uptime, guaranteed document backup and storage at fractional pricing..</p>
                                <!-- .btn -->
                                <a href="DemoVideo" class="btn large">
                                    <span class="btn-inner">play video<em>2 minute demo</em><i class="marker"></i></span>
                                </a>
                                <!-- //.btn -->
                            </div>
                        </li>
                        <li>
                            <img src="images/sample/slide3.png" />
                            <div class="slide-caption">
                                <h2>fast data entry</h2>
                                <p>With predictive real-time validation, cloudclaims.net enables you to get your claims entered quickly and correctly..</p>
                                <!-- .btn -->
                                <a href="DemoVideo" class="btn large">
                                    <span class="btn-inner">play video<em>2 minute demo</em><i class="marker"></i></span>
                                </a>
                                <!-- //.btn -->
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- END SLIDER -->
    <!-- BEGIN CONTENT HOLDER -->
    <div id="content-wrapper" class="large-text">
        <!-- BEGIN PRIMARY AREA -->
        <section id="primary-home-area" class="home-area indent">
            <div class="container">
                <div class="grid_12">
                    <div class="intro-widget">
                        <!--<h2>CloudClaims.net</h2>
                        <h4>free | mobile | fast</h4>-->
                        A FREE cloud-based, mobile-ready Claims Management System (CMS) for Independent Adjusters and Insurance Specialists looking for a modern portal that ensures precision in your claims process
                    </div>
                    <!-- //.intro-widget -->
                </div>
            </div>
        </section>
        <!-- END PRIMARY AREA -->

        <!-- BEGIN SECONDARY AREA -->
        <section id="secondary-home-area" class="home-area indent">
            <div class="container">
                <div class="grid_12">
                    <!-- BEGIN TABBED CONTENT -->
							<div class="tabs full-w">
						
								<div class="tab-menu">
									<ul>
										<li><a href="#tab1">Scalable <i class="l-tab-shad"></i><i class="r-tab-shad"></i></a></li>
										<li><a href="#tab2">Mobile Ready <i class="l-tab-shad"></i><i class="r-tab-shad"></i></a></li>
										<li><a href="#tab3">Precision <i class="l-tab-shad"></i><i class="r-tab-shad"></i></a></li>
										<li><a href="#tab4">Custom Forms<i class="l-tab-shad"></i><i class="r-tab-shad"></i></a></li>
									</ul>
								</div>
								<div class="clear"></div>
								<div class="tab-wrapper">
									<div id="tab1" class="tab">
										<p><strong>Workload Assessment & Assignment with Google Maps: </strong> Fast and easy to use during a CAT. With drag-and-drop style claim assignment via maps. Localize by postal codes. Contact us to watch a demo!</p>
										<p><strong>Cloud-based Data/Photo Archiving:</strong> Upload and forget. Each document and photo has a permanent URL. Make it public or private. Share with colleagues securely.</p>
										<p><strong>Analytics & Charting:</strong> Dashboard-style charting and analytics on your claim data. Your numbers. Your staff performance. Your sales. Your receivables.</p>
									</div>
									<div id="tab2" class="tab">
										<p><strong>Workload Assessment & Assignment with Google Maps: </strong> Fast and easy to use during a CAT. With drag-and-drop style claim assignment via maps. Localize by postal codes. Contact us to watch a demo!</p>
										<p><strong>Cloud-based Data/Photo Archiving:</strong> Upload and forget. Each document and photo has a permanent URL. Make it public or private. Share with colleagues securely.</p>
										<p><strong>Analytics & Charting:</strong> Dashboard-style charting and analytics on your claim data. Your numbers. Your staff performance. Your sales. Your receivables.</p>
									</div>
									<div id="tab3" class="tab">
										<p><strong>Workload Assessment & Assignment with Google Maps: </strong> Fast and easy to use during a CAT. With drag-and-drop style claim assignment via maps. Localize by postal codes. Contact us to watch a demo!</p>
										<p><strong>Cloud-based Data/Photo Archiving:</strong> Upload and forget. Each document and photo has a permanent URL. Make it public or private. Share with colleagues securely.</p>
										<p><strong>Analytics & Charting:</strong> Dashboard-style charting and analytics on your claim data. Your numbers. Your staff performance. Your sales. Your receivables.</p>
									</div>
									<div id="tab4" class="tab">
										<p><strong>Workload Assessment & Assignment with Google Maps: </strong> Fast and easy to use during a CAT. With drag-and-drop style claim assignment via maps. Localize by postal codes. Contact us to watch a demo!</p>
										<p><strong>Cloud-based Data/Photo Archiving:</strong> Upload and forget. Each document and photo has a permanent URL. Make it public or private. Share with colleagues securely.</p>
										<p><strong>Analytics & Charting:</strong> Dashboard-style charting and analytics on your claim data. Your numbers. Your staff performance. Your sales. Your receivables.</p>
									</div>
								</div>
							</div>
							<!-- END TABBED CONTENT -->
                </div>
            </div>
        </section>
        <!-- END SECONDARY AREA -->


        <!-- BEGIN TERTIARY AREA -->
        <!--<section id="tertiary-home-area" class="home-area indent">-->
            <!-- BEGIN CUSTOMERS -->
            <!--<div class="widget-carousel customers-list">
                <div class="container">
                    <div class="grid_12">
                        <h2>Who are our customers?</h2>
                        <div id="carousel1" class="es-carousel-wrapper">
                            <div class="es-carousel">
                                <ul>
                                    <li><a href="#">
                                        <img src="images/sm-logo1.png" alt="Customer 1 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo2.png" alt="Customer 2 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo3.png" alt="Customer 3 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo4.png" alt="Customer 4 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo1.png" alt="Customer 1 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo2.png" alt="Customer 2 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo3.png" alt="Customer 3 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo4.png" alt="Customer 4 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo1.png" alt="Customer 1 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo2.png" alt="Customer 2 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo3.png" alt="Customer 3 Info" /></a></li>
                                    <li><a href="#">
                                        <img src="images/sm-logo4.png" alt="Customer 4 Info" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- END CUSTOMERS -->
        <!--</section>-->
        <!-- END TERTIARY AREA -->
    </div>
    <!-- END CONTENT HOLDER -->
    <!-- BEGIN FOOTER -->
    @{Html.RenderPartial("_Layout_Footer");}
    <!-- END FOOTER -->

</div>
<!-- END WRAPPER -->


<!-- Flexslider Init -->
<script type="text/javascript">

    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: false,
            // Callback API
            before: function () { },
            after: function () { },
            start: function (slider) {
                $('#slider').removeClass('loading');
            }
        });
    });

</script>
