<!-- Primary Page Layout
	================================================== -->
<!-- BEGIN WRAPPER -->
<div id="wrapper">
    <!-- BEGIN HEADER -->
    @{Html.RenderPartial("_Layout_Header"); }
    <!-- END HEADER -->
    <!-- BEGIN PAGE HEADING -->
    <section id="heading">
        <div class="container">
            <div class="grid_8">
                <!-- BEGIN PAGE HEADING -->
                <header class="page-heading">
                    <h1>Careers</h1>
                    <nav class="breadcrumbs">
                        <ul>
                            <li><a href="Home">home</a></li>
                            <li class="current">careers</li>
                        </ul>
                    </nav>
                </header>
                <!-- END PAGE HEADING -->
            </div>
        </div>
    </section>
    <!-- END PAGE HEADING -->
    <!-- BEGIN CONTENT HOLDER -->
    <div id="content-wrapper">
        <section class="indent">
            <div class="container">
                <div class="grid_12">
                    <h2>Current Openings</h2>
                    <p>Please submit applications for all positions to: <strong><a target="_blank" href="mailto:info@cloudclaims.net">info@cloudclaims.net</a></strong>.</p>
                    <div id="accordion" style="visibility: hidden;">
                        <h3>Marketing</h3>
                        <div>
                            <!-- BEGIN TEAM POST -->
                            <article class="team-post">
                                <div class="team-post-holder">
                                    <!-- begin post heading -->
                                    <header class="entry-header">
                                        <hgroup>
                                            <h3 class="entry-title">Marketing Analyst</h3>
                                            <h6>2 part-time positions
                                            <br />Location: Local/Anywhere/Work From Home
                                            <br />Compensation: $9.5/hr for local candidates</h6>
                                        </hgroup>
                                        <blockquote class="right">You can't just ask customers what they want and then try to give that to them. By the time you get it built, they'll want something new</blockquote>
                                    </header>
                                    <!-- end post heading -->
                                    <!-- begin post content -->
                                    <div class="entry-content">
                                        <p>
                                            The key responsibilities for this position include: <br />
                                            <ul>
                                                <li>Create a comprehensive social media strategy to define programs that use social media marketing techniques to increase visibility, membership and more clientele</li>
                                                <li>Implement and manage various social media programs</li>
                                                <li>Experiment with new and alternative ways to leverage social media activities</li>
                                                <li>Monitor trends in social media tools, trends and applications and appropriately apply that knowledge to increase exposure</li>
                                                <li>Measure the impact of social media on the overall marketing efforts</li>
                                            </ul>
                                            The key attributes for this position include:<br /><br />
                                            <ul>
                                                <li>Ability to synthesize large amounts of data into actionable information</li>
                                                <li>Ability to create great working relationships with all levels within the company</li>
                                                <li>Willingness to experiment</li>
                                                <li>Excellent verbal communication skills</li>
                                            </ul>
                                        </p>
                                    </div>
                                    <!-- end post heading -->
                                </div>
                            </article>
                            <!-- END TEAM POST -->
                        </div>
                        <h3>Sales</h3>
                        <div>
                            <!-- BEGIN TEAM POST -->
                            <article class="team-post">
                                <div class="team-post-holder">
                                    <!-- begin post heading -->
                                    <header class="entry-header">
                                        <hgroup>
                                            <h3 class="entry-title">Sales Professional</h3>
                                            <h6>1 full-time position, 2 part-time positions
                                            <br />Location: Local/Anywhere/Work From Home
                                            <br />Compensation: Based on experience + Equity potential</h6>
                                        </hgroup>
                                        <blockquote class="right">You don’t close a sale, you open a relationship if you want to build a long-term, successful enterprise</blockquote>
                                    </header>
                                    <!-- end post heading -->
                                    <!-- begin post content -->
                                    <div class="entry-content">
                                        <p>
                                            Under direct supervision, the Sales Professional will contact prequalified leads to demonstrate our product and service offerings.&nbsp;
                                            All candidates will be evaluated based on their ability to meet sales quotas and revenue targets, prospecting and developing accounts and 
                                            growing strategic relationships. Candidates will also be tasked with contacting the client to see successful completion of new services offered 
                                            by initiating daily contact with their existing and potential clients via telephone and email and introducing these clients to the company’s new products and 
                                            services that best meet their needs.
                                            <ul>
                                                <li>Execute systematic sales techniques based on proven sales metrics</li> 
                                                <li>Record all contacts with existing and potential clients</li> 
                                                <li>Conduct online product demonstrations</li> 
                                                <li>Job performance will be measured through a variety of related sales metrics</li> 
                                                <li>Provide product demonstrations and answer customer questions regarding features and benefits</li> 
                                                <li>Assist with with web marketing solutions to existing and new customers</li>
                                                <li>Identify customer needs, offer appropriate solutions, handle objections, negotiate prices and close sales over the phone</li>
                                                <li>Perform all tasks in accordance with the company's core values.</li>
                                                <li>Give trainings and solutions to new and existing customers</li>
                                            </ul>
                                        </p>
                                    </div>
                                    <!-- end post heading -->
                                </div>
                            </article>
                            <!-- END TEAM POST -->

                        </div>
                        <h3>Engineering</h3>
                        <div>
                            <!-- BEGIN TEAM POST -->
                            <article class="team-post">
                                <div class="team-post-holder">
                                    <!-- begin post heading -->
                                    <header class="entry-header">
                                        <hgroup>
                                            <h3 class="entry-title">Jr. Web Applications Developer</h3>
                                            <h6>1 internship position, 1 full-time position
                                            <br />Location: Local - Long Island, NY
                                            <br />Compensation: Based on experience + Equity potential</h6>
                                        </hgroup>
                                        <blockquote class="right">With regards to adding more programmers to get a project done faster: Nine people can’t make a baby in a month</blockquote>
                                    </header>
                                    <!-- end post heading -->
                                    <!-- begin post content -->
                                    <div class="entry-content">
                                        <p><strong>Back-end Skills:</strong></p>
                                        <ul>
                                            <li>Microsoft C# .Net Framework 4.0</li>
                                            <li>ASP.Net, forms authentication, session management, cookies etc.</li>
                                            <li>MVC 4 with Razor View Engine</li>
                                            <li>Web Services: XML/SOAP/WCF</li>
                                            <li>T-SQL: Stored Procedures</li>
                                            <li>ORM/Entity Framework</li>
                                            <li>C# API experience a plus but not required: Cloud, Document Generation/Conversion, Payment Processing</li>
                                        </ul>
                                        <p><strong>Server Skills:</strong></p>
                                        <ul>
                                            <li>Microsoft SQL Server 2008</li>
                                            <li>Microsoft Windows Server 2008</li>
                                            <li>IIS 7</li>
                                            <li>Cloud Deployments a plus but not required: Microsoft Azure / Rackspace Cloud / Amazon EC2</li>
                                        </ul>
                                        <p><strong>Front-end Skills:</strong></p>
                                        <ul>
                                            <li>JavaScript & jQuery</li>
                                            <li>JSON</li>
                                            <li>AJAX</li>
                                            <li>CSS3</li>
                                            <li>HTML5</li>
                                            <li>Social Media API experience a plus but not required</li>
                                            <li>Experience working with UI controls a plus but not required: Telerik / ComponentArt / Infrangistics / Other Widgets</li>
                                        </ul>
                                        <p><strong>Personality:</strong></p>
                                        <ul>
                                            <li>Entrepreneurial mindset with long term interest in building businesses on top of just being a software developer</li>
                                            <li>Familiarity and interest in 'best practices' and sticking to 'standards' is very important</li>
                                            <li>General sense of UX/UI design and thoroughness while building interfaces</li>
                                            <li>Already possess a mix of these skills through current employment and have the time/energy to put them to use beyond your current job</li>
                                        </ul>
                                    </div>
                                    <!-- end post heading -->
                                </div>
                            </article>
                            <!-- END TEAM POST -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END CONTENT HOLDER -->
    <!-- BEGIN FOOTER -->
    @{Html.RenderPartial("_Layout_Footer");}
    <!-- END FOOTER -->
</div>
<!-- END WRAPPER -->



<script>
    $(function () {
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };

        $("#accordion").css("visibility", "visible");

        $("#accordion").accordion({
            icons: icons,
            active: false,
            collapsible: true,
            heightStyle: "content"
        });
    });
</script>
