<title>Wall Street News</title>
<style>
    body {
        background-color: rgba(30, 21, 21, 0.50);
    }

    .img {
        width: 50%;
        border: 2px solid Gray;
    }
</style>
<center>
<img src="~/images/News/Untitled.png" />
<h2>Raj Rajaratnam, hedge fund billionaire, gets 11-year sentence for insider trading</h2>
<img class="img" src="~/images/News/raj.jpg" />
<h2>Ex-Goldman Rajat Gupta Director to Serve 2 Years in Insider Case</h2>
<img class="img"  src="~/images/News/rajat.jpg" />
<h2>Top Bank of America ForEx Trader under FBI radar: Suspect next in line for the Raj group of arrests in NYC</h2>
<img class="img"  src="~/images/News/ryshab.jpg" />
    </center>
